/* -----------------------------------
   0. Reset Css
   1. WordPress Core
   2. Globally Applied Styles
   3. Header
   4. Page Title
   5. Filters
   6. Portfolio
   7. About
   8. Social Icons
   9. Blog
   10. Widgets
   11. Pagination
   12. Contact
   13. Search Page
   14. 404 Page
   15. Footer
   16. Responsivity Media Queries
   ----------------------------------- */

/* 0. Reset Css */

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

:focus {
	outline: 0;
}

input[type=submit] {
 -webkit-appearance: none;
 width: auto;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 100%;
}

body {
	max-width: 100%;
	background: #fff;
	color: #676767;
	position: relative;
}

ol, ul {
	list-style: none;
}

input[type=text]::-ms-clear {
  display: none;
}

sup {
	font-size: 10px;
	vertical-align: super;
}

sub {
	font-size: 10px;
	vertical-align: sub;
}

img {
	max-width: 100%;
   height: auto;
}

p:empty {
	display: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

::selection {
   background: #303133;
   color: #fff;
}

/* 1. WordPress Core */

.sticky:before {
	width: 10px;
	content: "";
	height: 17px;
	position: absolute;
	right: 20px;
	top: 0;
	background: url(../images/sticky.png);
	z-index: 99
}

.alignnone {
   margin: 5px 20px 20px 0;
   height: auto
}

.aligncenter,
div.aligncenter {
   display: block;
   margin: 5px auto
}

.alignright {
   float: right;
   margin: 5px 0 20px 20px
}

.alignleft {
   float: left;
   margin: 5px 20px 20px 0
}

a img.alignright {
   float: right;
   margin: 5px 0 20px 20px
}

a img.alignleft,
a img.alignnone {
   margin: 5px 20px 20px 0
}

a img.alignleft {
   float: left
}

a img.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto
}

.wp-caption {
   background: #fff;
   border: 1px solid #f0f0f0;
   max-width: 96%;
   padding: 5px 3px 10px;
   text-align: center;
   background-color: #eee;
   margin-bottom: 20px !important;
}

.wp-caption.alignleft,
.wp-caption.alignnone {
   margin: 5px 20px 30px 0
}

.wp-caption.alignright {
   margin: 5px 0 20px 20px
}

.wp-caption img {
   border: 0;
   height: auto;
   margin: 0;
   max-width: 98.5%;
   padding: 0;
   width: auto
}

.sidebar .widget .textwidget select,
iframe {
   max-width: 100%
}

.wp-caption p.wp-caption-text {
   font-size: 12px;
   line-height: 17px;
   margin: 10px 0 0 5px;
   padding: 0
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute!important;
   height: 1px;
   width: 1px;
   overflow: hidden
}

.screen-reader-text:focus {
   background-color: #f1f1f1;
   border-radius: 3px;
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
   clip: auto!important;
   color: #21759b;
   display: block;
   font-size: 14px;
   font-size: .875rem;
   font-weight: 700;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000
}

.bypostauthor {
   background-color: #f3f1f1
}

.gallery-caption {
   opacity: .7;
   margin-top: 10px
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

pre {
    padding: 15px;
    margin: 10px 0;
}

.blog thead th {
    background-color: #eee;
}

.blog td,
.blog th {
    padding: 5px 30px 5px 5px;
    border: 1px solid;
}

.blog dl dt {
    font-weight: 600;
    font-size: 16px;
}

.blog dl dd {
    margin-top: 10px;
    padding-bottom: 10px;
}

.blog ul {
    list-style: initial;
    padding-left: 20px;
}

.blog ol {
    padding-left: 20px;
    list-style: decimal;
}

.blog address {
    margin: 0 0 15px 0;
}

.blog cite {
    display: block;
    text-align: right;
}

.blog .post .post-info a {
    color: #a99464;
}

.blog .comments .comment-content ul,
.blog .comments .comment-content ol {
    padding-left: 20px;
}

.blog .comments .comment-content ul li {
    list-style: initial;
    margin: 10px 0!important;
}

.blog .comments .comment-content ol li {
    list-style: decimal;
    margin: 10px 0!important;
}

.blog .comments .children {
    margin-left: 20px !important;
}

/* 2. Globally Applied Styles */

body {
	font-family: Hind;
	font-size: 14px;
    line-height: 24px;
	font-weight: 400;
	color: #303133;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: Poppins;
    margin-top: 35px;
    margin-bottom: 20px;
}

h1, .h1 {
	font-size: 30px;
	line-height: 37px;
}

h2, .h2 {
	font-size: 24px;
	line-height: 33px;
    letter-spacing: 1px;
}

h3, .h3 {
	font-size: 22px;
	line-height: 32px;
}

h4, .h4 {
	font-size: 19px;
	line-height: 26px;
}

h5, .h5 {
	font-size: 15px;
	line-height: 23px;
}

h6, .h6 {
	font-size: 13px;
	line-height: 20px;
    letter-spacing: 1px;
}

p {
    margin: 0 0 15px 0;
}

p:last-child {
    margin-bottom: 0 !important;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	color: inherit;
}

.underline a {
	position: relative;
}

.underline a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #303133;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.underline a:hover:before {
	width: 100%;
}

.button-holder {
    text-align: center;
    margin-top: 20px;
}

.button {
    font-family: Poppins;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    padding: 5px 11px 4px 12px;
    background-color: #303133;
    border: 1px solid #303133;
    color: #fff;
    width: auto;
}

.button:hover {
    background-color: transparent;
    color: #303133;
    font-weight: 400;
}

blockquote {
    border-left: 1px solid #303133;
    padding: 5px 5px 5px 20px;
    margin-bottom: 25px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

label {
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3px;
}

input,
textarea {
    border: 1px solid #303133;
    padding: 10px 12px;
    line-height: 16px;
    width: 100%;
}

textarea {
    line-height: 20px;
    resize: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: Poppins;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
  	color: #303133;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: Poppins;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
  	color: #303133;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family: Poppins;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
  	color: #303133;
}
:-moz-placeholder { /* Firefox 18- */
	font-family: Poppins;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 3px;
	text-transform: uppercase;
  	color: #303133;
}

.display-none {display: none}

/* 3. Header */

header {
	padding: 70px 0 40px 0;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo a {
	font-family: Poppins;
    font-size: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
}

/*Mobile Menu*/
header .nav-holder .hamburger {
    position: relative;
    display: none;
    height: 20px;
    width: 24px;
    line-height: 24px;
}

header .nav-holder .hamburger .hamburger-inner,
header .nav-holder .hamburger .hamburger-inner:before,
header .nav-holder .hamburger .hamburger-inner:after {
    background-color: #303133;
}

header .nav-holder .hamburger .hamburger-inner {
    display: inline-block;
    position: relative;
    top: -4px;
    width: 24px;
    height: 2px;
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
}

header .nav-holder .hamburger .hamburger-inner:before,
header .nav-holder .hamburger .hamburger-inner:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
}

header .nav-holder .hamburger .hamburger-inner:before {
    top: 8px;
}

header .nav-holder .hamburger .hamburger-inner:after {
    top: -8px;
}

/*Is Active*/
header .nav-holder .hamburger.is-active .hamburger-inner {
    background-color: transparent;
}

header .nav-holder .hamburger.is-active .hamburger-inner:before {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}

header .nav-holder .hamburger.is-active .hamburger-inner:after {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}
/*Is Active*/
/*Mobile Menu*/

header .nav-holder nav {
	text-align: center;
}

header .nav-holder nav ul li {
	display: inline-block;
	margin-left: 35px;
	padding-bottom: 10px;
	position: relative;
}

header .nav-holder nav ul li:first-child {
	margin-left: 0;
}

header .nav-holder nav ul li a {
	font-family: Poppins;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 3px;
}

header .nav-holder nav ul li:hover > ul {
	visibility: visible;
	opacity: 1;
}

header .nav-holder nav ul li ul {
	position: absolute;
	top: 30px;
	left: -20px;
	width: 180px;
	background-color: #303133;
	padding: 15px 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
}

header .nav-holder nav ul li ul li {
	display: block;
	margin: 0;
	text-align: left;
	padding: 5px 20px;
	color: #fff;
}

header .nav-holder nav ul li ul li a {
	font-size: 11px !important;
    color: #fff !important;
}

header .nav-holder nav ul li ul li.menu-item-has-children > a:after {
    font-family: "FontAwesome";
    content: "\f105";
    padding-left: 8px;
}

header .nav-holder nav ul li ul li a:before {
	background-color: #fff !important;
}

header .nav-holder nav ul li ul li ul {
	top: -15px;
	left: 100%;
	margin-left: 1px;
}

/* 4. Page Title */

.page-title {
	padding: 15px 0 30px 0;
}

.page-title p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

/* 5. Filters */

.filters {
	text-align: center;
	padding: 20px 0;
}

.filters ul li {
	cursor: pointer;
	font-family: Poppins;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 3px;
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
	padding: 7px 10px;
}

.filters ul li.active,
.filters ul li:hover {
	background-color: #f5f5f5;
	border-radius: 20px;
}

.filters ul li:first-child {
	margin-left: 0;
}

/* 6. Portfolio */

.portfolio-holder {
	margin-top: 30px;
}

.portfolio-holder .portfolio .selector {
	margin-bottom: 30px;
}

.portfolio-holder .portfolio .selector a {
	outline: none;
}

.portfolio-holder .portfolio .selector .item-holder {
	position: relative;
}

.portfolio-holder .portfolio .selector .item-holder img {
	width: 100%;
}

.portfolio-holder .portfolio .selector .item-holder .item {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Gallery*/
.portfolio-holder .portfolio.alternative .selector .item-holder .item {
    top: auto;
    right: 10px;
    left: 10px;
    bottom: 10px;
}

.portfolio-holder .portfolio.alternative .selector .item-holder .item .overlay-background,
.portfolio-holder .portfolio.alternative .selector .item-holder .item .overlay .inner-overlay span {
    display: none;
}

.portfolio-holder .portfolio.alternative .selector .item-holder .item .overlay {
    display: block;
    table-layout: inherit;
    position: relative;
}

.portfolio-holder .portfolio.alternative .selector .item-holder .item .overlay .inner-overlay {
    display: block;
    text-align: center;
}

.portfolio-holder .portfolio.alternative .selector .item-holder .item .overlay .inner-overlay h3 {
    background-color: #fff;
    padding: 12px 10px 9px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
}
/*Gallery*/

.portfolio-holder .portfolio .selector .item-holder:hover .item .overlay-background {
	opacity: .95;
}

.portfolio-holder .portfolio .selector .item-holder .item .overlay-background {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
	opacity: 0;
	-webkit-transition: 300ms all;
	-o-transition: 300ms all;
	transition: 300ms all;
}

.portfolio-holder .portfolio .selector .item-holder .item .overlay {
	display: table;
	table-layout: fixed;
	position: absolute;
	width: 100%;
	height: 100%;
}

.portfolio-holder .portfolio .selector .item-holder .item .overlay .inner-overlay {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.portfolio-holder .portfolio .selector .item-holder:hover .item .overlay .inner-overlay h3 {
	opacity: 1;
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.portfolio-holder .portfolio .selector .item-holder .item .overlay .inner-overlay h3 {
    margin-top: 0;
    margin-bottom: 0;
	font-family: Poppins;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

.portfolio-holder .portfolio .selector .item-holder:hover .item .overlay .inner-overlay span {
	opacity: 1;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-holder .portfolio .selector .item-holder .item .overlay .inner-overlay span {
	opacity: 0;
	display: block;
	-webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}

/*Portfolio Single*/

.single-portfolio .portfolio-holder {
    margin-top: 0;
}

.single-portfolio .order-single {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.single-portfolio .order-single .order-content {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    box-ordinal-group: 4;
}

.single-portfolio .project-title {
    margin-bottom: 15px;
}

.single-portfolio .project-title h5 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 6px;
}

.single-portfolio .project-description {
    margin-bottom: 30px;
}

.single-portfolio .order-single .project-description {
    margin-bottom: 0;
}

/*Embed Video*/
.single-portfolio .portfolio-holder .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 30px;
}
.single-portfolio .portfolio-holder .embed-container iframe,
.single-portfolio .portfolio-holder .embed-container object,
.single-portfolio .portfolio-holder .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Embed Video*/

/*Single Navigation*/
.single-portfolio .single-navigation {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.single-portfolio .single-navigation .prev {
    text-align: right;
}

.single-portfolio .single-navigation a {
    font-size: 24px;
    display: inline-block;
}

.single-portfolio .single-navigation a i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
}

.single-portfolio .single-navigation a:hover i {
    background-color: #f5f5f5;
}

.single-portfolio .single-navigation .back {
    display: inline-block;
    margin: 0 30px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: -9px;
}

.single-portfolio .single-navigation .back:hover {
    background-color: #f5f5f5;
}

.single-portfolio .single-navigation .back a {
    width: 16px;
    height: 16px;
    margin: auto;
    position: relative;
    display: block;
}

.single-portfolio .single-navigation .back a:before {
    left: 0;
    bottom: 0;
}

.single-portfolio .single-navigation .back a .icon-back-to-portfolio:before {
    top: 0;
    right: 0;
}

.single-portfolio .single-navigation .back a .icon-back-to-portfolio:after {
    bottom: 0;
    right: 0;
}

.single-portfolio .single-navigation .back a:after {
    top: 0;
    left: 0;
}

.single-portfolio .single-navigation .back a:after,
.single-portfolio .single-navigation .back a:before,
.single-portfolio .single-navigation .back a .icon-back-to-portfolio:after,
.single-portfolio .single-navigation .back a .icon-back-to-portfolio:before {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    background: #303133;
}
/*Single Navigation*/

/* 7. About */

.about {
    margin-bottom: 30px;
}

.about .about-content {
    margin-top: 30px;
    text-align: center;
}

.about .about-content h5 {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 6px;
    margin-top: 0;
    margin-bottom: 15px;
}

.about .about-content .social-icons {
    padding-bottom: 0;
}

/* 8. Social Icons */

.social-icons {
    padding: 30px 0;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin: 0 5px;
}

.social-icons li a {
    display: block;
    width: 36px;
    text-align: center;
    height: 36px;
    line-height: 38px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.social-icons li a:hover {
    background-color: #303133;
    color: #fff;
}

/* 9. Blog */

.blog {
    margin-bottom: 30px;
}

.blog .post:last-child {
	margin-bottom: 0 !important;
}

.blog .post {
    margin-bottom: 50px;
}

.blog .post .post-thumbnail {
    margin-bottom: 25px;
}

.blog .post .post-meta {
    margin-bottom: 15px;
    text-align: center;
}

.blog .post .post-meta ul {
    padding-left: 0;
}

.blog .post .post-meta h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 0;
}

.blog .post .post-meta h3 a:hover {
    color: #a99464;
}

.blog .post .post-meta ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.blog .post .post-meta ul li:last-child {
    margin-right: 0;
}

.blog .post .post-meta ul li a {
    color: #a99464;
}

.blog .post .post-meta ul li a:before {
    bottom: 2px;
    background-color: #a99464;
}

.blog .post .post-info p {
    margin-bottom: 25px;
}

.blog .post .post-info h5.standard-title {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 6px;
}

.blog .post .post-tags {
    margin-top: 40px;
}

.blog .post .post-tags h6 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 25px;
    margin-right: 15px;
    display: inline-block;
}

.blog .post .post-tags ul {
    padding-left: 0;
    display: inline-block;
}

.blog .post .post-tags ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 12px;
}

.blog .post .post-tags ul li:last-child {
    margin-right: 0;
}

.blog .post .post-tags ul li a {
    font-family: Poppins;
    background-color: #f5f5f5;
    border-radius: 20px;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px 8px;
}

/*Comments*/
#comments {
    margin-top: 70px;
}

.comments h5.standard-title {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 6px;
    margin-top: 0;
    margin-bottom: 15px;
}

.comments ul {
    padding: 0;
}

.comments ul li {
    list-style: none;
    margin: 40px 0;
    position: relative;
}

.comments ul li .comment .pic {
    position: absolute;
    width: 40px;
    top: 0;
}

.comments ul li .comment .comment-content {
    padding-top: 5px;
    margin-left: 55px;
}

.comments ul li .comment .comment-content h6.standard-title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 3px;
    margin: 0 0 7px 0;
}

.comments ul li .comment .comment-content span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    line-height: 12px;
    display: block;
    margin-bottom: 12px;
}

.comments .comment-form .form-submit {
    margin-bottom: 0 !important;
}

.comments .comment-form textarea {
    width: 100%;
    resize: none;
    height: 170px;
    margin-bottom: 5px;
}

.comments .comment-form .form-input {
    width: 33.33333%;
    float: left;
    margin-bottom: 20px;
    padding-right: 20px;
}

.comments .comment-form .form-input:last-child {
    padding-right: 0;
}

.comments .comment-form .form-input input {
    display: block;
}

.comments .comment-form input[type=submit] {
    font-family: Poppins;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    padding: 5px 11px 4px 12px;
    background-color: #303133;
    border: 1px solid #303133;
    color: #fff;
    width: auto;
}

.comments .comment-form input[type=submit]:hover {
    background-color: #fff;
    color: #303133;
}

/* 10. Widgets */

.widget {
    margin-bottom: 50px;
}

.widget:last-child {
	margin-bottom: 0 !important;
}

.widget h6.widgettitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 3px;
    margin-top: 0;
}

.widget ul {
    padding: 0;
}

.widget ul li {
    display: block;
    margin-bottom: 10px;
	padding-left: 15px;
    position: relative;
}

.widget ul li:last-child {
	margin-bottom: 0 !important;
}

.widget ul li a {
	font-family: Poppins;
    display: inline-block;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.widget ul li a:hover {
    color: #a99464;
}

.widget ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 5px;
    background-color: #303133;
    top: 12px;
}

.widget ul li .post-date {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    display: block;
}

.widget .tagcloud a {
    font-family: Poppins;
    background-color: #f5f5f5;
    border-radius: 20px;
    font-size: 10px !important;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 3px 8px;
    margin: 5px 5px 5px 0;
    display: inline-block;
}

.widget form input {
    width: 65% !important;
    display: inline-block;
    padding: 8px 10px;
    height: 35px;
}

.widget table caption {
    padding-bottom: 10px;
}

.widget table tbody td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.widget form input[type=submit] {
    width: 32% !important;
    font-family: Poppins;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 11px 4px 12px;
    background-color: #303133;
    border: 1px solid #303133;
    color: #fff;
}

.widget form input[type=submit]:hover {
    background-color: #fff;
    color: #303133;
}

/* 11. Pagination */

.neuron-pagination {
	padding-left: 0 !important;
}

.neuron-pagination span {
	display: inline-block;
}

.neuron-pagination span.prev {
	margin-right: 2px;
}

.neuron-pagination span.next {
	margin-left: 2px;
}

.neuron-pagination a {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	display: block;
}

.neuron-pagination a:hover {
	background-color: #f5f5f5;
}

.neuron-pagination li {
	display: inline-block;
	margin: 0 2px;
}

.neuron-pagination li.active a {
	background-color: #f5f5f5;
}

/* 12. Contact */

.contact {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
    margin-top: 5px;
}

.contact form textarea {
    height: 200px;
}

.contact form .form-name,
.contact form .form-email,
.contact form .form-subject {
    width: 33.33333%;
    float: left;
    padding-right: 20px;
    margin-bottom: 20px;
}

.contact form .form-subject {
    padding-right: 0;
}

.contact form .form-message {
    margin-bottom: 10px;
}

.contact form .form-submit {
    margin-bottom: 0;
}

.contact form label {
    width: 100%;
}

.contact form input[type=submit] {
    margin-top: 0;
    font-family: Poppins;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    padding: 5px 11px 4px 12px;
    background-color: #303133;
    border: 1px solid #303133;
    color: #fff;
    width: auto;
}

.contact form input[type=submit]:hover {
    background-color: #fff;
    color: #303133;
}

span.wpcf7-not-valid-tip {
    margin-top: 10px;
}

/* 13. Search Page */

.search-no-results h5 {
	text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 6px;
	margin-top: 0;
    margin-bottom: 2px;
}

/* 14. 404 Page */

.error404 .error-404 {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 90px;
}

.error404 .error-404 h1 {
	font-size: 100px;
	line-height: 110px;
	font-weight: 600;
	margin: 0;
}

.error404 .error-404 h3 {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 10px;
	margin-bottom: 0;
}

/* 15. Footer */

footer {
	text-align: center;
	padding: 40px 0 70px 0;
}

footer p {
	font-family: Poppins;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/* 16. Responsivity Media Queries */

@media only screen and (max-width : 1024px) {
	.widget form input,
	.widget form input[type=submit] {
		width: 100% !important;
		float: none;
		margin-bottom: 5px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.nothing-found {
		margin-bottom: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        position: relative;
        padding: 30px 0;
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    header .logo {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        text-align: left;
    }
    header .nav-holder {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
    header .nav-holder .hamburger {
        display: inline-block;
    }
    header .nav-holder nav > ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        text-align: left;
        background-color: #303133;
        padding: 10px 20px;
        display: none;
    }
    header .nav-holder nav ul.menu-active {
        display: block;
    }
    header .nav-holder nav ul li {
        display: block;
        margin: 0 !important;
        padding: 5px 0;
    }
    header .nav-holder nav ul li a:before {
        background-color: #fff;
    }
    header .nav-holder nav ul li a {
        color: #fff !important;
    }
    header .nav-holder nav ul li ul {
		visibility: visible;
		opacity: 1;
        position: relative;
        left: 0;
        padding: 0;
        padding-left: 20px;
        top: 0 !important;
        width: auto;
        margin-top: 5px;
    }
    header .nav-holder nav ul li ul li {
        padding: 0;
    }
    header .nav-holder nav ul li ul li ul {
        left: 0;
        margin-left: 0;
        padding: 5px 0 5px 20px;
        margin-top: 0;
    }
    .social-icons li {
        margin-bottom: 10px;
    }
	.blog .sidebar {
		margin-top: 50px;
	}
    footer {
        padding: 15px 0 45px 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.portfolio-holder {
		margin-top: 10px;
	}
	.page-title {
		padding: 20px 0;
	}
    .filters {
        padding-bottom: 10px;
    }
    .filters ul li {
        margin: 0 5px 10px 5px !important;
    }
    .single-portfolio .single-navigation {
        margin-top: 20px;
        margin-bottom: 25px;
    }
	.mfp-arrow:after {
		background-color: #303133;
	}
	.mfp-arrow:before {
		color:  #303133;
	}
    .blog .post .post-meta h3 {
        font-size: 18px;
    }
    .blog .post .post-tags h6 {
        margin-bottom: 10px;
    }
    #comments {
        margin-top: 0;
    }
    .contact {
        margin-top: 0;
    }
    .contact form .form-name,
    .contact form .form-email,
    .contact form .form-subject,
    .comments .comment-form .form-input {
        width: 100%;
        padding: 0;
    }
	.error404 .error-404 {
		margin-top: 50px;
		margin-bottom: 70px;
	}
	.error404 .error-404 h1 {
		font-weight: 500;
		font-size: 70px;
		line-height: 80px
	}
	.error404 .error-404 h3 {
		font-size: 18px;
		margin-top: 0;
	}
    footer p {
        line-height: 24px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    header {
        padding: 25px 0;
    }
    .filters ul li {
        margin: 0 5px 5px 5px !important;
    }
	.single-portfolio .project-title {
		margin-bottom: 10px;
	}
	.single-portfolio .project-title h5 {
		margin-bottom: 0;
	}
	.single-portfolio .single-navigation {
		margin-top: 0;
		margin-bottom: 5px;
	}
}
