/*!=========================================================*
* Developer:    Nazmul Hussain
* Developer URL: http://www.nazmul.info
=============================================================*/
@font-face {
    font-family: 'ladylikebb_regular';
    src: url('../fonts/ladylikebb_regular.eot');
    src: url('../fonts/ladylikebb_regular.eot') format('embedded-opentype'),
        url('../fonts/ladylikebb_regular.woff2') format('woff2'),
        url('../fonts/ladylikebb_regular.woff') format('woff'),
        url('../fonts/ladylikebb_regular.ttf') format('truetype'),
        url('../fonts/ladylikebb_regular.svg#ladylikebb_regular') format('svg');
}

@font-face {
    font-family: 'geovana_regular';
    src: url('../fonts/geovana_regular.eot');
    src: url('../fonts/geovana_regular.eot') format('embedded-opentype'),
        url('../fonts/geovana_regular.woff2') format('woff2'),
        url('../fonts/geovana_regular.woff') format('woff'),
        url('../fonts/geovana_regular.ttf') format('truetype'),
        url('../fonts/geovana_regular.svg#geovana_regular') format('svg');
}

/*===========================================================
 Common CSS
============================================================*/

body {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

ul {
    padding: 0;
    margin: 0;
}


li,
li:hover,
a:hover,
.btn,
.btn:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    text-decoration: none !important;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
    background-repeat: no-repeat;
}

strong {
    font-weight: 700;
}

u {
    border-bottom: 1px solid #fff;
    line-height: 1;
    text-decoration: unset;
}

.cboth {
    overflow: hidden;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



/*===========================================================
 Placeholder Style
============================================================*/

::-webkit-input-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

:-moz-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

::-moz-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}

:-ms-input-placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.39px;
}



/*===========================================================
Preloader CSS
============================================================*/
.spinner-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;

    z-index: 9999999999;
    background: #fff;
}

.spinner {
    background-color: #065e52;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 9999999;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/*===========================================================
 Scroll Animate
============================================================*/

.js .animate-box {
    opacity: 0;
}

/*===========================================================
 Scroll To Top
============================================================*/

.go-top {
    bottom: 15px;
    display: none;
    position: fixed;
    right: 30px;
    z-index: 999;
}

.go-top img {
    width: 35px;
}

.go-top span {
    /*background-color: #4285F4;*/
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    float: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px 10px;
}

.go-top span:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/*===============================Yourself Area=====================*/
.yourself-area {
    background-image: url(../img/bg/1-1.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;

    padding-top: 20px;
    padding-bottom: 75px;
    position: relative;
    z-index: 9;
}

.yourself-top {
    padding: 0 40px;
    padding-bottom: 20px;
}

.yourself-img-area {
    overflow: hidden;
    margin-top: 20px;
    padding: 0 50px;
}

.yourself-img {
    display: inline-block;
    max-width: 530px;
    position: absolute;
}

.yourself-text {
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: 40px;
}

.yourself-text p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
}

/*======================================Friend Area======================*/
.profile-area {
    padding: 130px 0;
}

.drear-friend {
    position: relative;
    margin-bottom: 30px;
}

.profile-img {
    margin-top: 65px;
}

.drear-friend:before {
    position: absolute;
    content: '';
    background-image: url(../img/friend-bg.png);
    width: 340px;
    height: 64px;
    background-repeat: no-repeat;
    z-index: -1;
    left: -50px;
    top: 4px
}

.drear-friend h3 {
    font-family: 'ladylikebb_regular';
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    line-height: 72px;
}

.friend-text p {
    color: #010101;
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}

.friend-text p a {
    color: #010101;

    font-weight: 900;
}

/*===============================Deal Area=====================*/
.deal-area {
    background-image: url(../img/bg/2-1.png);
    width: 100%;
    background-repeat: no-repeat;

    min-height: 600px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 9;

}

.title h2 {
    color: #f9d580;
    font-size: 62px;
    font-weight: 800;
    line-height: 70px;
}

.deal-right p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
}

.deal-right span {
    color: #fbe919;

}

.deal-right {
    padding-top: 70px;
    padding-left: 35px;
}

.deal-left {
    position: absolute;
}

.truth-area {
    padding-top: 160px;
}

.truth-text p {}

.black-title h2 {
    color: #000;
    margin-bottom: 30px;
}

.truth-text h4 {
    color: #010101;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
}

.truth-text h5 {
    font-weight: 400;
    color: #010101;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
}

/*===============================Advice Area=====================*/
.advice-area {
    background-image: url(../img/bg/2-2.png);
    width: 100%;
    background-repeat: no-repeat;

    min-height: 450px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    padding-top: 60px;
    position: relative;
    z-index: 9;
}

/*===============================Mistake Area=====================*/


.mistake-area {
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    /*z-index: -2;*/
}

.mistake-left-text h1 {
    color: #000000;
    font-size: 60px;
    font-weight: 800;
    line-height: 78px;
}

.mistake-left-text h1 span {
    color: #fbe919;
    position: relative;

}

.mistake-left-text h1 span:before {
    position: absolute;
    content: '';
    background-image: url(../img/mark-clr.png);
    width: 147px;
    height: 89px;
    z-index: -1;
    left: -20px;
    margin: -9px;
}

.mistake-left-text h1 span {
    display: inline-block;
    margin-left: 15px;
}

.mistake-left-text h3 {
    color: #d95e0a;
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 15px;
}

.mistake-right-text p {
    color: #010101;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}

.mistake-right-text p span {
    text-decoration: underline;
    color: #000;
}

.mistake-right-text p span {}

.arrow {
    position: absolute;
    left: 50%;
    top: -110px;
    margin-left: -120px;
    z-index: 10;
}



/*==============================Solution Area=================*/
.solution-area {
    background-image: url(../img/bg/4-1.png);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 460px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    padding-top: 30px;
    position: relative;
    z-index: 9;
}

.solution-text h3 {
    color: #f4e219;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 20px;
}

/*==================================Keto Text Area==================*/
.keto-text-area {
    padding-top: 100px;
    padding-bottom: 80px;
}

.keto-text-area.gray-bg {
    position: relative;
    top: -70px;
}

.keto-text {
    padding-left: 80px;
    padding-right: 65px;
}

.keto-text p {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}

/*===============================Keto Diet Area================*/
.keto-diet-area {
    padding-bottom: 100px;
    padding-top: 60px;
}

.keto-diet-img img {
    max-width: 33.33%;
    float: left;
}

.diet-text {
    position: relative;
}

.diet-text:before {
    position: absolute;
    content: '';
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 26px;
    left: 40px;

}


/*==========================Unfair Area============================*/
.unfair-area {
    background-image: url(../img/bg/4-2.png);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 390px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    padding-top: 50px;
}

.unfair-text h2 {
    font-size: 64px;
}

.unfair-text h2 span {
    color: #fbe919;
}

/*===========================Reason Area========================*/
.reason-banner-area {
    background-image: url(../img/bg/5-1.png);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    padding-top: 55px;
    min-height: 390px;
    margin-bottom: 100px;
    position: relative;
    z-index: 9;
}

.reson-text h3 {
    margin-bottom: 18px;
}

.reason-btm-style {
    padding: 0 30px;
    margin-bottom: 30px;
}

/*===========================Proof Area========================*/
.proof-area {
    padding: 100px 0;
}

.proof-inner-area {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.proof-text p {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 25px;
}

.diet-chart {
    margin-left: -85px;
}

.diet-chart h6 {
    color: #d95e0a;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}

.proog-bg-text {
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;
}

.proog-bg-text:before {
    position: absolute;
    content: '';
    background-image: url(../img/text-bg.png);
    left: -60px;
    top: -25px;
    width: 729px;
    height: 177px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.proog-bg-text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}


/*==============================How Much Area=======================*/
.how-much-area {
    background: #000;
    padding: 85px 0;
    margin-top: 70px;
}


.how-much-title p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.how-much-list {
    padding-left: 70px;
    position: relative;
}

.how-much-list:before {
    position: absolute;
    content: '';
    background-image: url(../img/plan-border-top.png);
    width: 193px;
    top: -138px;
    left: 30px;
    height: 169px;
    background-repeat: no-repeat;
}

.how-much-list ul {
    position: relative;
}

.how-much-list ul:before {
    position: absolute;
    content: '';
    left: -190px;
    bottom: -110px;
    background-image: url(../img/plan-border-btm.png);
    background-repeat: no-repeat;
    width: 143px;
    height: 180px;
}

.how-much-list span {
    color: #f9d580;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    display: block;
    margin-top: 50px;
}

.how-much-list p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 50px;
    padding-left: 100px;
}

.how-much-list li {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    list-style: none;
    margin-top: 50px;
    position: relative;
}

.how-much-list li:before {
    position: absolute;
    content: '';
    left: -65px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: #d95e0a;
    background-image: linear-gradient(to right, #d95e0a 0%, #f9d580 100%);
}

.how-much-list li:after {
    background-image: url(../img/checkmark.png);
    position: absolute;
    content: '';
    left: -55px;
    width: 45px;
    height: 45px;
    top: 9px;
    background-repeat: no-repeat;

}

.how-much-list li span {
    color: #f9d580;
    font-weight: 900;

}

/*=============================With Keto Area========================*/
.with-keto-area {
    position: relative;
    background-image: url(../img/bg/7-1.png);
    width: 100%;
    background-repeat: no-repeat;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 40px;
    position: relative;
    z-index: 9;


}

.with-keto-title h2 span {
    display: block;
    color: #fbe919;
}

.keto-arrow {
    margin-bottom: -45px;
}

.guarantee-logo-area {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.guarantee-logo {
    display: inline-block;
    vertical-align: middle;
}

.guarantee-text {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-left: 20px;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.guarantee-text p {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/*============================Meal plan Area=======================*/
.meal-plan-area {
    background-image: url(../img/bg/8.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 440px;
    padding-top: 40px;
    position: relative;
    z-index: 9;
}

.meal-plan-text-area {
    padding-top: 75px;
    padding-bottom: 50px;
}

.meal-plan-text {
    max-width: 565px;
    margin-left: auto;
    margin-right: auto;
}

.meal-plan-text p {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}

.plan-btn {
    text-align: center;
    display: block;
    max-width: 565px;
    margin: 0 auto;
}

.plan-btn a {
    text-align: center;
    color: #010101;
    font-size: 27px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 75px 15px 80px;
    border-radius: 250px;
    box-shadow: 1px 1px 79px rgba(251, 233, 25, 0.75);
    border: 1px solid #d95e0a;
    background-color: #d95e0a;
    background-image: linear-gradient(to top, #d95e0a 0%, #fbe919 100%);
}

.meal-plan-text h6 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
    font-weight: 600;
    line-height: 30px;
}

/*=================================Service Area==================*/
.service-area {
    padding-top: 75px;
    padding-bottom: 55px;
    background: #000000;
    position: relative;
    z-index: 9;
}


.service-title {
    padding-bottom: 50px;
}

.service-title h6 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 25px;
    padding: 0 120px;
}

.single-service-text {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.single-service {
    position: relative;
}

.single-service-text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.single-service-img span {
    color: #000000;
    font-size: 72px;
    font-weight: 800;
    line-height: 78px;
    width: 97px;
    height: 97px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 97px;
    background-color: #fbe919;
}

.single-service-img span {
    position: absolute;
}

.service-text {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.service-text h4 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;


}


.step-title h4 {
    color: #000000;
    font-size: 27px;
    margin-top: -5px;
    font-weight: 700;
    line-height: 40px;
}


/*===========================Option Area=================*/
.option-area {
    background: #000;
    position: relative;
    z-index: -1;
}

.mistake-area.option-area {
    z-index: 1;
}

.option-area .mistake-right-text p,
.option-area .mistake-left-text h1 {
    color: #fff;
}

.option-area .plan-btn a {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.option-area .row {
    margin-top: 50px;
}

.option-btm-text {
    margin-top: 45px;
}

.option-btm-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.option-btm-text h3 {
    font-size: 60px;
    font-family: 'geovana_regular';
    color: #fff;
    font-style: italic;

}

.plan-arrow-right img {
    left: -120px;

}

/*============================Footer Area===========================*/
.footer-area {
    background-image: url(../img/bg/footer-img.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 45px;
    padding-bottom: 15px;
    position: relative;
}


.footer-area:before {
    position: absolute;
    content: '';
    background-image: url(../img/footer-border.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    max-width: 1400px;
    width: 100%;
    height: 27px;
    left: 50%;
    /*margin-left: -700px;*/
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 60px;
    background-repeat: no-repeat;
}

.footer-text {
    max-width: 700px;
    float: right;
    margin-bottom: 110px;
}

.footer-text h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 40px;
}

.footer-text p {
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
}

.plan-btn {
    position: relative;

}

.plan-btn img {
    position: absolute;
    bottom: 40px;
    right: -138px;
}

.footer-menu {
    /*margin-top: 75px;*/
    /*border-top: 2px solid #c2c2c2;*/
    padding-top: 15px;
    margin-top: 70px;
    position: relative;
}


.footer-menu ul {
    text-align: center;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
}

.footer-menu ul li a {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.fwbold {
    font-weight: 700;
    text-decoration: none !important;
}

.footer-area .reason-btm-style {
    margin-top: 70px;
    margin-bottom: 0;
}

/*============================Responsive CSS=========================*/

.gray-bg {
    background-image: url(../img/bg/bg-pattern.png);
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.meal-plan-text-area {
    margin-top: -65px;
}

.mrt65 {
    margin-top: -65px;
}

.contact-links {
    display: inline-block;
    list-style: none;
}

.contact-links li {
    color: inherit;
    font-size: 17px;
    margin-top: 20px;
}

.contact-links a {
    color: #3999c8;
    font-size: 17px;
    cursor: pointer;
}

.contact-links li a {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.contact-links span {
    margin: 5px;
}

@media (min-width: 1200px) {
    .container {
        /*max-width: 990px;*/
        max-width: 1160px;

    }

    .unfair-area .container {
        max-width: 990px;
    }

    .step-area .container {
        max-width: 775px;

    }

    .step-area .row {
        margin-bottom: 80px;
    }


    .full-container .container {
        max-width: 1160px;

    }

    .option-area .container {
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;
    }

    .option-area .row {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1199px) {
    .meal-plan-area {
        min-height: 490px;
    }

    .yourself-img {
        display: block;
        max-width: 100%;
        position: relative;
    }

    .yourself-text {
        display: block;
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .yourself-area {
        padding-bottom: 20px;
    }

    .yourself-text p {
        margin-bottom: 20px;
    }

    .drear-friend {
        margin-left: 40px;
    }

    .how-much-list:before,
    .how-much-list ul:before {
        background: none;
    }
}

@media only screen and (max-width: 991px) {
    .title h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .yourself-img-area {
        padding: 0;
        margin: 0;
    }

    .profile-area {
        padding: 60px 0;
    }

    .profile-img {
        margin-bottom: 50px;
        margin-top: 0;
        text-align: center;
    }

    .deal-area {
        min-height: 660px;
    }

    .deal-right {
        padding-top: 40px;
        padding-left: 0;
    }

    .deal-right p {
        margin-top: 20px;
    }

    .truth-area {
        padding-top: 60px;
    }

    .truth-text h5 {
        margin-top: 5px;
    }

    .truth-text h2 {
        margin-bottom: 0;
    }

    .mistake-left-text h1 {
        font-size: 52px;
    }

    .mistake-left-text h3 {
        font-size: 30px;
    }

    .mistake-right-text p {
        margin-bottom: 15px;
    }

    .solution-text h3 {
        font-size: 50px;
        line-height: 56px;
        margin-bottom: 10px;
    }

    .solution-area {
        min-height: 490px;
        padding-top: 40px;
    }

    .keto-text-area {
        padding-top: 90px;
        padding-bottom: 0;
    }

    .unfair-area {
        min-height: 330px;
    }

    .proof-area {
        padding: 50px 0;
    }

    .reason-banner-area {
        min-height: 340px;
        margin-bottom: 50px;
    }

    .plan-btn img {
        right: -88px;
        width: 82px;
    }

    .service-area {}

    .single-service-img span {
        font-size: 49px;
        line-height: 78px;
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .mistake-area {
        /*padding: 60px 0;*/
    }

    .option-area .row {
        margin-top: 0;
        padding-bottom: 30px;
    }

    .plan-arrow-right img {
        left: -80px;
    }

    .keto-text {
        padding-top: 50px;
    }
}
@media only screen and (min-width: 768px){
    .visible-sm{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .title h2 {
        font-size: 41px;
        line-height: 53px;
    }

    .hidden-sm{
        display: none;
    }

    .deal-left {
        position: relative;
    }

    .deal-right {
        padding-top: 10px;
    }

    .deal-right p {
        margin-top: 13px;
    }

    .deal-area {
        min-height: auto;
        padding-bottom: 50px;
    }

    .truth-area {
        padding-bottom: 50px;
    }

    .truth-img {
        text-align: center;
    }

    .advice-area {
        min-height: auto;
        padding-bottom: 80px;
        padding-top: 50px;
    }

    .mistake-area {
        padding: 20px 0;
    }

    .mistake-left {
        text-align: center;
    }

    .arrow {
        display: none;
    }

    .mrt65 {
        padding-top: 80px !important;
    }

    .solution-text h3 {
        font-size: 38px;
        line-height: 43px;
        margin-bottom: 10px;
    }

    .solution-area {
        min-height: auto;
        padding-top: 40px;
        padding-bottom: 101px;
    }

    .keto-text {
        padding: 0;
    }

    .keto-diet-area {
        padding: 20px 0;
    }

    .unfair-area {
        min-height: auto;
        padding-bottom: 80px;
    }

    .proog-bg-text:before {
        position: unset;
    }

    .proog-bg-text p {
        color: #000;
    }

    .proog-bg-text {
        margin: 15px 0;
    }

    .how-much-list p {
        padding-left: 0;
        margin-top: 30px;
    }

    /*.how-much-list:after {}*/

    .plan-btn a {
        font-size: 25px;
    }

    .service-title h6 {
        padding: 0;
    }

    .single-service {
        margin-bottom: 20px;
    }

    .single-service-img {
        text-align: center;
    }

    .mistake-right-text {
        margin-top: 30px;
    }

    .plan-btn img {
        right: -28px;
        width: 72px;
    }

    .single-service-text {
        max-width: 100%;

    }

    .guarantee-logo {
        display: block;
    }

    .guarantee-text {
        position: unset;
        display: block;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        margin-left: 0;
        margin-top: 20px;
    }

    .diet-chart {
        margin-left: 0;
    }

    .diet-text:before {
        background: none;
    }

    .reason-left img {
        margin-bottom: 25px;
    }

    .guarantee-logo {
        text-align: center;
    }

    .keto-arrow,
    .plan-btn img {
        display: none;
    }

    .with-keto-inner {
        padding-top: 30px;
    }

    .how-much-list li:after {
        left: -30px;
        width: 20px;
        height: 20px;
        top: 1px;
        background-size: 100% 100%;
    }

    .how-much-list li:before {
        left: -35px;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        background-color: #d95e0a;
        background-image: linear-gradient(to right, #d95e0a 0%, #f9d580 100%);
    }

    .how-much-list {
        padding-left: 35px;
    }

    .truth-text {
        margin-top: 30px;
    }

    .meal-plan-area {
        min-height: auto;
        padding-bottom: 70px;
    }

    .step-title h4 {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .option-btm-text h3 {
        font-size: 45px;
    }

}

@media only screen and (max-width: 550px) {

    .keto-diet-img img {
        max-width: 100%;
        width: 100%;
        float: left;
    }

    .keto-diet-img {
        overflow: hidden;
    }

    .keto-diet-img img:first-child {
        margin-left: -25px;
    }

    .plan-btn a {
        font-size: 18px;
        line-height: 25px;
        padding: 10px 20px;
    }

    .step-title h4 {
        font-size: 24px;
    }

    .plan-btn img {
        display: none;
    }

    .reason-banner-area {
        min-height: auto;
        margin-bottom: 50px;
        padding-bottom: 89px;
    }

    .mistake-left-text h1 {
        font-size: 45px;
    }

    .title h2 {
        font-size: 24px;
        line-height: 1.4;
    }

    .yourself-text p {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    .drear-friend:before {
        left: -74px;
        top: 8px;
    }

    .footer-menu ul li a,
    .contact-links li a{
        font-size: 16px;
    }

    .mistake-left-text h1 {
        font-size: 30px;
    }

    .mistake-left-text h1 span:before {
        width: 97px;
        height: 59px;
        z-index: -1;
        left: -25px;
        margin: 0;
        background-size: 100%;
        top: 8px;
    }

    .yourself-top img {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .footer-menu ul li a,
    .contact-links li a{
        font-size: 15px;
    }
}
.non-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}